<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/"><span
          class="glyphicon glyphicon-home"><b>&nbsp;Home</b></span></a>
          <ul class="nav navbar-nav pull-left">
				
			<!-- </div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right"> -->
					<li><a href="#/allusers" ng-click="ctrl.fetchAllUsers()">List user</a></li>
				</ul>
				</div>
					<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a ng-hide="currentUser.useremail==undefined"
						href="#/home" ng-click="ctrl.logoutuser()">Logout</a></li>
					<li style="font-weight: bold; color: white;"
						ng-show="currentUser.useremail!==undefined">
					<br />{{currentUser.useremail}} : {{currentUser.currentrole}}</li></ul>
			</div>
		</div>
	</div>
</body>
</html>